

@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>

<h3>Are you sure you want to logout </h3>
<div>
    <h4>User LogOut</h4>
    <hr />   
    
    <form asp-action="Logout">
        <button type="submit"  class="btn btn-danger m-2" > logout </button>
        <a asp-action="Index" asp-controller="StudentVm" class="btn btn-primary">Back to List</a>
    </form>
</div>
